@import '../../assets/style/variable';

.restaurant {
  &_pd {
    padding: 0 0 100px 0;
  }
}

.restaurant__reservationButton {
  background-color: $px-yellow;
  color: #fff;
  border: 3px solid $px-yellow;


  &:hover {
    background-color: #fff;
    transition: all 0.3s linear;
    color: $px-yellow;
  }
}

.restaurant__menuButton {
  background-color: #fff;
  color: $px-main;
  border: 3px solid $px-yellow;
  margin-bottom: 40px;

  &:hover {
    background-color: $px-yellow;
    transition: all 0.3s linear;
    color: #fff;
  }
}

.restaurant__reservation {
  width: 100%;
  padding: 1.25rem;
  background-color: $px-main;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .restaurant {
    &_pd {
      padding: 0 0 40px 0;
    }
  }
}