@import '../../assets/style/_variable';

.form {
  background: #fff;
  position: relative;
}

.form_pd {
  padding: 1.25rem;
}

.form__loader {
  position: absolute;
  top: -20px;
  left: 325px;
}

.form__container {
  border: 2px solid $px-yellow;
}

.form__container_pd {
  padding: 40px 85px 65px 85px;
}

.form__note {
  margin-bottom: 1.25rem;
}

.formInput {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 25px;
}

.formInput label {
  font-size: 0.875rem;
  color: #919191;
  margin-bottom: 10px;
}

.formInput input {
  width: 100%;
  color: $px-main;
  border: 0;
  background: rgba(206, 167, 111, 0.25);
  height: 50px;
  padding: 0 30px;

  &::placeholder {
    color: $px-yellow;
  }
}

.formInput div {
  color: $px-error;
  font-size: 0.875rem;
}

.form__alert {
  position: fixed;
  bottom: calc(100% - 50%);
  left: calc(100% - 50% - 184px);
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .form__container_pd {
    padding: 40px;
  }

  .form__loader {
    top: -20px;
    left: calc(100% - 60%);
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .form__container_pd {
    padding: 10px;
  }

  .form__loader {
    top: -20px;
    left: calc(100% - 75%);
  }
}