@font-face {
  font-family: 'Playfair Display';
  src:
    url('../font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('ttf'),
    url('../font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}