.text {
  font-size: 1rem;

  &_fs13 {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &_fs14 {
    font-size: 0.9rem;
  }

  &_fs15 {
    font-size: 0.9rem;
    line-height: 22px;
    font-weight: 600;
  }

  &_fs26 {
    font-size: 26px;
    font-weight: 900;
  }
}