@import '../style/_variable';

.title {
  font-family: "Playfair Display", serif;
  color: $px-footer;

  &_fs14 {
    font-size: 0.875rem;
  }

  &_fs15 {
    font-size: 0.93rem;
    font-weight: 500;
  }

  &_fs36 {
    font-size: 2.25rem;
    margin: 0;
    font-weight: 700;
  }

  &_gold {
    color: $px-yellow;
  }

  &_fs50 {
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }

  &_background {
    background: #e7e3dc;
  }

  &_pd {
    padding: 40px 60px;
  }

}