@import '../../../style/_variable';

.cardNumber {
  background: $px-bg;
  position: relative;
  max-width: 1200px;


  &_pd10 {
    padding: 0 10px;
  }

  &_mr {
    margin: 0 auto 40px auto;
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 50px 30px rgb(0 0 0 / 3%);
  }

  &__image {
    position: relative;
    width: 590px;
    overflow: hidden;

    // &_right {
    //   grid-column-start: 2;
    //   grid-column-end: 3;
    // }

  }

  &__more {
    position: absolute;
    left: 0;
    top: 0;


    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 400px;
      height: 400px;
      content: '';
      background: $px-yellow;
      transform: translateX(-125%) rotate(45deg);
      transition: 1s;
    }

    &::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 400px;
      height: 400px;
      content: '';
      background: $px-yellow;
      transform: translateX(170%) rotate(45deg);
      transition: 1s;
    }
  }

  &__photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 194px;
    left: 208px;
    opacity: 0;
    transition: .5s ease-in-out;

    &:hover {
      background-color: #ffffff;
      transition: all 0.3s linear;
      color: $px-yellow;
    }
  }
}

// animation
.cardNumber__image:hover .cardNumber__more::before {
  transform: translateX(92%) rotate(45deg) scale(2);
  transition: .5s;
  opacity: .6;
}

.cardNumber__image:hover .cardNumber__more::after {
  transform: translateX(-44%) rotate(45deg) scale(2);
  transition: .5s;
  opacity: .6;
}

.cardNumber__image:hover .cardNumber__btn {
  opacity: 1;
  z-index: 3;
}

.info-wrapper {
  width: 100%;
  text-align: center;
  flex-shrink: 1;
  background-color: #ffffff;

  &_pd20 {
    padding: 20px;
  }

  // &_left {
  //   grid-column-start: 1;
  //   grid-column-end: 2;
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  // }
}

.info {
  border: 2px solid $px-yellow;
  padding: 85px 90px 55px 90px;
  position: relative;
  max-height: 360px;
  overflow: hidden;

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #330f15;
    text-decoration: none;
    transition: all 0.3s linear;
  }
}

.delimiter {
  &_mr10 {
    margin: 10px 0;
  }

  &::before {
    display: inline-block;
    content: '';
    width: 70%;
    height: 5px;
    background: $px-yellow;
    clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
    margin: 5px;
  }
}

.description {
  overflow: hidden;
}

.price {
  position: absolute;
  top: 0;
  color: #ffffff;
  background: $px-yellow;
  min-width: 180px;
  padding: 14px 24px 10px 24px;
  font-style: italic;
  font-size: 16px;
  font-family: "Playfair Display", Georgia, "Times New Roman", "Microsoft Yahei", serif;

  &_right {
    right: 0;
  }

  &_left {
    left: 0;
  }

  &_leftBottom {
    left: 0;
    top: 372px;
  }

  &__value {
    font-size: 26px;
    font-weight: 900;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .cardNumber {
    &__grid {
      grid-template-columns: none;
      background-color: #fff;
      background-image: url('../../../img/bg/kisspng-pattern.png');
      background-repeat: round;
    }

    &__image {
      justify-self: center;
    }
  }

  .delimiter {
    &_mr10 {
      margin: 5px 0;
    }

    &::before {
      width: 33%;
    }
  }

  .info {
    padding: 35px 90px 55px 90px;
    position: static;
  }

  .price {
    top: 358px;

    &_right {
      right: calc(50% - 105px);
    }
  }
}