@import '../../assets/style/_variable';

.footer {
  min-height: 100%;

  &__link {
    padding: 6px 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: $px-yellow;

    &:hover {
      color: $px-yellow;
    }
  }

  &__social {
    min-height: 100%;
    padding: 7px 0;
    background: $px-social;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 230px 1fr;
    column-gap: 5px;
    align-items: center;
  }

  &__contacts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    padding: 6px 0;
    margin: 6px 0;
  }

  &__information {
    background: $px-footer;
    padding: 40px 0 25px 0;
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;
    column-gap: 10px;
    color: $px-yellow;
  }

  &__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  &__logo {
    max-width: 80%;
  }

  &__right {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
  }

  &__bottom {
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid $px-yellow;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: 600;
  }
}

.value {
  padding-left: 10px;

  &:hover {
    text-decoration: underline;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .footer {
    &__wrapper {
      grid-template-columns: none;
      row-gap: 5px;
      justify-content: center;
      justify-items: center;
    }

    &__contacts {
      grid-template-columns: none;
    }

    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-auto-flow: none;
      color: $px-yellow;
    }

    &__left {
      grid-template-columns: 300px;
      justify-content: center;
      margin-bottom: 25px;
    }

    &__right {
      text-align: center;
    }

    &__bottom {
      text-align: center;
      margin: 0;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .footer {
    &__container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-auto-flow: none;
      color: $px-yellow;
    }

    &__contacts {
      text-align: center;
    }

    &__left {
      justify-items: center;
    }

    &__logo {
      max-width: 60%;
    }

    &__bottom {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: none;
      grid-row-end: none;

    }
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}